.Cards {
    overflow: hidden;
    &__header {
        display: flex;

        a {
            margin-left: auto;
            display: flex;
            align-items: center;
            color: $enlaces;
        }
    }

    &__container {
        width: 1000%;
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        gap: 16px;

        @include from(small) {
            width: 600%;
        }

        @include from(medium) {
            width: 400%;
        }

        @include from(large) {
            width: 300%;
        }

        @include from(x-large) {
            width: 200%;
        }
    }
}