.Filters {
    margin-bottom: 2rem;
    
    &, &__categories {
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }
    
}