.Filters {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    @include from(x-large) {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    
}