.Header{
    padding: 2rem 0;
    
    &--absolute {
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 1;
    }

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative; /*Contexto del menu de usuario*/
    }
}