.Banner {
    overflow: hidden;
    position: relative;
    height: 430px;
    margin-bottom: 2rem;

    @include from(large) {
        position: relative;
        height: 550px;
    }

    &--serie &__item {
        display: block;
    }

    &__item {
        position: absolute;
        top: 0;
        width: 100%;
        height: 90%;
        display: none;
        animation: fade 1s;

        background-color: $fondofirst;

        @keyframes fade {
            from {
              opacity: 0;
            }
          
            to {
              opacity: 1;
            }
          }

        @include from(large) {
            height: 100%;
        }
    }

    figure {
        height: 100%;

        img {
            object-fit: cover;
            height: 100%;
        }
    }

    &__container {

    }

    &__mask{
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
    }

    &__mask {
        // background-image: linear-gradient(0deg,rgba(#17181c, 1) 13%, rgba(#17181c,0.1) 100%);
        background-image: linear-gradient(0deg,rgba(#17181c, 1) 13%, transparent, rgba(#17181c, 1));

        @include from(large) {
            background-image: linear-gradient(0deg,rgba(#17181c, 1) 0%, transparent, rgba(#17181c, 1));
        }
        // background: linear-gradient(0deg, rgba(#17181c, 1) 0%, rgba(#17181c,0.1) 100%);
        
    }

    &__info-container {
        background: linear-gradient(90deg, rgba(23,24,28,.8) 30%, transparent 100%);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        align-items: flex-end;
        // @include from(large) {
        //     align-items: center;
        // }
    }

    &__info {

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        @include from(large) {
            width: 50%;
            align-items: flex-start;
            margin-bottom: 8rem;
        }
    }

    &__title {
        display: flex;
        max-height: 80px;
        max-width: 100%;
        width: 80%;
        @include from(large) {
            max-height: 150px;
        }
    }
    
    &__logo {
        filter: invert(1);
        max-height: 100%;
        width: auto;
        margin: auto;

        @include from(large) {
            margin: 0;
        }
    }

    
    &__etiquetas,
    &__categorias,
    &__stars {
        display: flex;
        justify-content: center;
        align-items: center;

        @include from(large) {
            justify-content: flex-start;
        }
    }

    &--serie &__calificaciones {
        display: flex;
    }

    &__calificaciones {
        display: none;
    }
    
    &__calificacion {
        display: flex;
        align-items: center;
        margin-left: 1rem;
    }
    
    &__etiquetas,
    &__categorias {
        gap: 10px;
    }
    
    &__categorias {
        font-size: 1.4rem;

        @include from(large) {
            margin-bottom: 2rem;
            display: none;
        }
    }

    &__etiqueta {
        background-color: $secundariothird;
        padding:1.2rem 1.4rem;
        font-size: 1.4rem;
        border-radius: 8px;
    }

    &--serie &__reseñas,
    &--serie &__description {
        display: block;
    }

    &__reseñas,
    &__description {
        display: none;
    }

    &__description {
        @include from(large) {
            display: block;
        }
    }

    &--serie &__reseñas{
        display: flex;
        align-items: center;
    }

    &__buttons {
        display: flex;
        flex-wrap: wrap;
        align-items:stretch;
        justify-content: center;
        width: 100%;
        @include from(large) {
            gap: 1rem;
            justify-content: flex-start;
        }
    }

    &__play,
    &__moreinfo,
    &__addlist {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__play {
        border-radius: 50%;
        height: 39px;
        width: 39px;
        background-image: linear-gradient(90deg,#fab818,#ff8533 50%);
    }

    &__moreinfo,
    &__addlist {
        background: #17181c;
        border: 2px solid #f5f5f5;
        border-radius: 20px;
        font-size: 1.4rem;
        font-weight: 700;
        padding: 0.8rem 1.8rem;
    }

    &__paginacion {
        width: 100%;
        display: flex;
        gap: .5rem;
        justify-content: center;
        position: absolute;
        bottom: 0;

        @include from(large) {
            bottom: 5%;
        }
    }

    &__pagina {
        background-color: #f5f5f5;
        border-radius: 50%;
        height: 10px;
        opacity: .6;
        width: 10px;

        &.active {
            background-color: #ff8533;
        }
    }
}