.Button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .6rem;
    font-size: 1.4rem;
    font-weight: 700;
    padding: 0.8rem 1.8rem;
    border-radius: 30px;
    cursor: pointer;
    width: 100%;

    @include from(large) {
        width: auto;
    }
    &--banner {
        flex-direction: column;
        flex: 1;
        border-radius: 0;

        @include from(large) {
            flex-direction: row;
            flex: initial;
            border-radius: 30px;
            width: auto;
        }
    }
    
    &--principal {
        color: $secundariosecond;
        background-image: linear-gradient(90deg,#fab818,#ff8533 50%);
    }
    
    &--play {
        width: auto;
        padding: 1rem;
    }
    
    &--secondary {
        background: #17181c;
        color: $tipografiaGray;
        border: 2px solid;

        @at-root .Button--banner#{&} {
            border: 0;

            @include from(large) {
                border: 2px solid;
            }
        }
    }
}