.Buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
    &--banner {
        justify-content: center;

        @include from(x-large) {
            justify-content: flex-start;
        }
    }
}

.Button {
    display: flex;
    align-items: center;
    gap: .6rem;
    border-radius: 20px;
    font-size: 1.4rem;
    font-weight: 700;
    padding: 0.8rem 1.8rem;
    
    &--principal {
        color: $secundariosecond;
        background-image: linear-gradient(90deg,#fab818,#ff8533 50%);
        &-play {          
            padding: 01rem;
            border-radius: 50%;
        }
    }

    
    
    &--secondary {
        background: #17181c;
        border: 2px solid;
        color: $tipografiaGray;
    }
}