.Category {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    @include from(x-large) {
    }

    &__title {
        display: flex;
        align-items: center;
    }

    &__title {
        font-weight: 700;
    }
    &__container {
        display: flex;
        flex-wrap: wrap;
        gap: .5rem;
    }

    &__item {
        background-color: $secundariofirst;
        padding: 1rem 1.5rem;
        border-radius: 20px;
        display: block;
        opacity: .5;

        &.active {
            opacity: 1;
        }
    }
}