.Form {
    display: flex;
    position: relative;
    &__input, &__button--search {
        color: $tipografiaGray;
    }

    &--add-list {
        width: 95%;
        max-width: 400px;
        padding: 3rem 2rem;
        flex-direction: column;
        gap: 3rem;
        background-color: $principal;

        // @include from($small) {}
    }

    &__containerButtons {
        display: flex;
        justify-content: space-between;

        &--addlist {
            flex-wrap: wrap;
            gap: 1rem;
        }
    }

    &--add-list &__input {
        padding: 1.5rem;
        border-radius: 20px;
    }

    &__input {
        background-color: $secundariosecond;
        border: 2px solid $secundariofirst;
        width: 100%;
        border-radius: 20px 0 0 20px;
        padding:1rem 5rem;
    }

    &__button--search {
        position: absolute;
        background-color: transparent;
        top: 50%;
        left: 15px;
        transform: translateY(-50%);
        padding: 0;
    }

    &__select {
        background-color: $secundariofirst;
        color: $tipografiaGray;
        border-radius: 0 20px 20px 0;
        padding: 0 1rem;
    }
}